<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kxiang.quick">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".function.activity.OnlyRefreshActivity">
        </activity>
        <activity android:name=".function.activity.RefreshLoadingActivity">
        </activity>
        <activity android:name=".function.activity.CalanderActivity">
        </activity>
        <activity android:name=".function.activity.RadioCheckActivity">
        </activity>
        <activity android:name=".function.activity.SmallToolsActivity">
        </activity>
        <activity android:name=".function.activity.MemoryActivity">
        </activity>
        <activity android:name=".function.activity.SQLiteActivity">
        </activity>
        <activity android:name=".function.activity.PermissionActivity">
        </activity>
        <activity android:name=".function.activity.keboard.KeyboardActivity"
                  >
        </activity>
    </application>

</manifest>